@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Fira+Code:wght@300..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --LogoFont: "Bruno Ace SC", sans-serif;
    --SecondaryFont: "Fira Code", monospace;
    --PrimaryColor: #FFFFFF;
    --SecondaryColor: #FAFF00;
    --CardColor: #222222;
    --BackgroundColor: #000000;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#app {
    min-height: 300vh;
    width: 100%;
    background-color: var(--BackgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    background-image: radial-gradient(circle at left center, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75)), url('Images/ImagenPortada.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* mantiene el fondo fijo al hacer scroll */
}

#home::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5); /* capa oscura */
    z-index: 0;
}

.utp, header {
    position: relative;
    z-index: 1; /* asegura que el contenido quede encima */
}

h1, h2, h3, p, a {
    font-family: var(--SecondaryFont);
    color: var(--PrimaryColor);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease forwards;
    animation-delay: 0.3s;
}

#Logo, #Logo2{
    font-family: var(--LogoFont);
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease forwards;
    animation-delay: 0.3s;
}

#Logo2 {
    color: var(--SecondaryColor);
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu {
    display: flex;
    gap: 60px;
    list-style: none;
    justify-content: space-around;
}

a {
    cursor: pointer;
    text-decoration: none;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease forwards;
    animation-delay: 0.3s;
}

a:hover {
    color: var(--SecondaryColor);
}

.utp {
    height: 80vh;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    z-index: 1;
}

.utp h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--PrimaryColor);
}


.btn {
    max-width: 200px;
    background-color: var(--SecondaryColor);
    border-radius: 50px;
    border: 0;
    padding: 10px 35px;
    cursor: pointer;
    text-align: center;
    font-family: var(--SecondaryFont);
    font-weight: bold;
    color: var(--BackgroundColor);
    transition: background-color 0.3s ease, color 0.3s ease;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease forwards;
    animation-delay: 0.3s;
}

.btn:hover {
    background-color: var(--PrimaryColor);
    color: var(--BackgroundColor);
}

#Advantages {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background-color: var(--BackgroundColor);
}

#advantagesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#advantagesList .adv {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
}

#advantagesList .adv img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease forwards;
    animation-delay: 0.3s;
}

#Membership {
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    background-color: var(--BackgroundColor);
}

#PasesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    gap: 20px;
}

.Pass {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-width: 225px;
    min-height: 275px;
    border-radius: 10px;
    background-color: var(--CardColor);

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease forwards;
    animation-delay: 0.3s;
}

.passHeader {
    width: 300px;
    height: 20%;
    text-align: center;
    border-bottom: #000000 1px solid;
}

.passDetails {
    height: 50%;
    display: flex;
    justify-content: center;
    width: 300px;
}
.listDetails {
    max-width: 200px;
    color: var(--PrimaryColor);
    list-style: url(/Images/icons/IconCheck.png);
}
.listDetails li{
    margin: 8px;
}

.price {
    font-weight: bold;
    font-size: larger;
}

@keyframes myAnimation {
    to {
        opacity: 1;
        transform: translateY(10);
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 344px) {
    header {
        flex-direction: column;
    }
    #menu {
        gap: 15px;
    }

    a {
        font-size: smaller;
    }
    #advantagesList {
        gap: 20px;
        max-width: 350px;
        text-align: center;
    }
    #advantagesList .adv img {
        width: 30px;
        height: 30px;
    }
}
@media screen and (min-width: 345px) and (max-width: 715px) {
    header {
        flex-direction: column;
    }
    #menu {
        gap: 15px;
    }
    #advantagesList {
        gap: 5px;
        max-width: 350px;
        text-align: center;
    }
    #advantagesList .adv p {
        font-size: smaller;
    }
    #advantagesList .adv img {
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
    }
    #MembershipPasses {
        width: 100%;
        max-width: 100vw;
        overflow-x: hidden;
    }
    #PasesList {
        display: flex;
        gap: 20px;
        flex-wrap: nowrap;
        max-height: 300px;
        overflow-x: auto;
    }
}
@media screen and (min-width: 1023px) {
    #advantagesList {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}